html {
  font-size: 10px;
  background: #d9534f;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}*/

.key {
  border: .4rem solid #fff;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(255,255,255,0.05);
}
.key2 {
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
}

kbd {
  display: block;
  font-size: 4rem;
}

.playing {
  transform: scale(1.1);
  border-color: #fff;
  box-shadow: 0 0 1rem #fff;
  background: rgba(255,255,255,0.5);
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #fff;
}

.mt50 {
  margin-top: 50px;
}
.mt30 {
  margin-top: 30px;
}
.mt5 {
  margin-top: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.pl6 {
  padding-left: 6px;
}

.nowrap {
  white-space: nowrap;
}

.pr48 {
  padding-right: 48px;
}

@media all and (max-width: 1280px) {
    .nonpad {
      padding-left: 5px;
    }
    .nonpad2 {
      padding-left: 9px;
    }
    .nonpad3 {
      padding-left: 49px;
    }
}
@media all and (min-width: 1281px) {
    .nonpad {
      padding-left: 2px;
    }
    .nonpad2 {
      padding-left: 2px;
    }
    .nonpad3 {
      padding-left: 2px;
    }
}

.hidden2 {
  visibility: hidden;
}
